.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
a{
  text-decoration: none;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  /* parameters for the header section */
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title{
  line-height: 96px;
  font-size: 102px;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 64px;
  width: 730px;
}

.subtitle{
  position: absolute;
  z-index: 1;
  left: 64px;
  width: 388px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 756px;
  height: 608px;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 64px;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.description{
  margin: 100px;
  width: 80%;
}

.two-columns{
  display: flex;
  justify-content: space-between;
}

.two-columns__brief{
  width: 175px;
  color: #2F80ED;
}

.two-columns__brief h3{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph p{
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits{
  margin: 0 auto 100px auto;
}

.section-title{
  margin: 0 auto 20px auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-title h2{
  margin: 0;
}

.section-subtitle{
  margin: 0 auto 0 auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.section-subtitle h3{
  margin: 0;
}

.table{
  margin: 0 auto;
  width: 1100px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.table__cell{
  width: 250px;
  margin-top: 60px;
}

.table__cell-heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__cell-heading h4{
  margin: 0;
}

.table__cell-text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell-text p{
  margin: 20px 0 0 0;
}

.feynman{
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  height: 790px;
  position: relative;
}
.feynman img{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}

.feynman__title{
  z-index: 1;
  width: 775px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.feynman__title h2{
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.feynman__subtitle{
  margin-top: 70px;
}

.feynman__subtitle h3{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman{
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.kaufman img{
  position: absolute;
  right: -124px;
}

.section-title_theme_dark{
  margin: 0px auto 20px auto;
  padding-top: 90px;
  width: 60%;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
  color: white;
  z-index: 1;
}

.section-title_theme_dark h2{
  margin: 0;
  font-size: 60px;
}

.section-subtitle_theme_dark{
  margin: 0 auto 0 auto;
  width: 60%;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  color: white;
}

.section-subtitle_theme_dark h3{
  margin: 0;
  font-size: 24px;
}

.table_theme_dark{
  margin: auto;
  width: 1100px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 90px 0;
  color: white;
  z-index: 1;
}

.table__cell-heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__cell-heading_theme_dark h4{
  margin: 0;
}

.table__cell-text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell-text_theme_dark p{
  margin: 20px 0 0 0;
}

.footer{
  background-color: #1f1f1f;
  padding: 60px 40px;
}

.footer__columns{
  justify-content: space-evenly;
  color: white;
  display: flex;
}

.footer__column_content-copyright{
  flex-basis: 711px;
  position: relative;
}

.footer__author{
  margin: 18px 0 18px 0;
  position: absolute;
  bottom: 0;
}

.footer__auhtor p{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading{
  display: flex;
  flex-direction: column;
}

.footer__column-heading h6{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.footer__column-link{
  flex-direction: column;
  display: flex;
}

.footer__column-link a{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color:white;
}

.footer__column-link ul{
  padding: 0;
  list-style: none;
}

.footer__social-icons{
  display: flex;
  flex-direction: column;
}

