.tabla__cell{
  width: 250px;
  margin-top: 60px;
}

.tabla__cell-heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.tabla__cell-heading h4{
  margin: 0;
}

.tabla__cell-text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.tabla__cell-text p{
  margin: 20px 0 0 0;
}